NODE_ENV=development
PORT=3000

# MongoDB
MONGO_URI=mongodb://localhost:27017/reakmusic

# Session
SESSION_SECRET=change-this-to-a-long-random-secret

# Gmail (App Password)
GMAIL_USER=
GMAIL_APP_PASSWORD=

# Google Drive Service Account (base64 encoded JSON)
GOOGLE_SERVICE_ACCOUNT=
GOOGLE_DRIVE_FOLDER_ID=

# KHQR
KHQR_API_URL=https://api-bakong.nbc.gov.kh
KHQR_API_KEY=
KHQR_MERCHANT_ID=
KHQR_WEBHOOK_SECRET=

# Telegram
TELEGRAM_BOT_TOKEN=8760247225:AAEiNnTs1Vh-kHHqj_2RFvauwHvGQMYuZrI
TELEGRAM_ADMIN_CHAT_ID=-5084455771

# CORS
CORS_ORIGIN=http://localhost:4200

# Frontend URL (for email links)
FRONTEND_URL=http://localhost:4200
