<tui-textfield
  [tuiChevron]="true"
  [class.is-compact]="compact"
  [attr.id]="id || null"
  [stringify]="stringify"
>
  <input
    tuiComboBox
    [formControl]="control"
    [placeholder]="placeholder"
    (blur)="onBlur()"
  />
  <tui-data-list-wrapper
    *tuiDropdown
    [items]="options | tuiFilterByInput"
    [itemContent]="optionTemplate"
  />
</tui-textfield>

<ng-template #optionTemplate let-item>
  <span class="option-content-wrapper">
    <i *ngIf="item.icon" [class]="item.icon" class="option-icon"></i>
    <span class="option-label">{{ item.label }}</span>
  </span>
</ng-template>
